:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --heading: Oxygen, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--heading);
    color: white;
    font-size: var(--font-size);
}


/* section background colors and styling */

section,
header,
footer {
    max-width: 1200px;
    padding: 4rem 1rem;
    margin: 0 auto;
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 2px;
}

.section-black {
    background-color: var(--black);
}

.section-dkblue {
    background-color: var(--dkblue);
}

.section-plum {
    background-color: var(--plum);
    text-align: center;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-weight: normal;
}

h4 {
    margin: 0;
    font-family: var(--mono);
}

a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}


/* navigation */

nav {
    font-family: var(--mono);
    font-size: 80%;
}

nav h1 a {
    font-weight: normal;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

nav li+li {
    padding-top: 3px;
}

nav li:first-child {
    margin-right: auto;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--magenta);
}

.button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.button:hover {
    color: white;
    background-color: var(--hotmag);
}


/* intro section */

#intro {
    padding-bottom: 10rem;
}

#intro p {
    font-size: 1rem;
}

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

.name span {
    font-family: var(--heading);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}


/* portfolio items */

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#portfolio h3 {
    color: var(--aqua);
}

#portfolio h4 {
    font-size: 1rem;
}

#portfolio article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 4rem;
}

#portfolio img {
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/2;
    padding: 1rem;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 10px;
}

.text {
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
}

#portfolio .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
    border-right: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-left: none;
}

.reverse .text {
    text-align: left;
    grid-column: 1/7;
    grid-row: 1/2;
    z-index: 1000;
}

.text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1rem;
}

.reverse ul {
    justify-content: flex-start;
}

.blackbox {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}


/* contact section */

#contact {
    width: 400px;
    margin: 0 auto;
}

#contact .button {
    font-family: var(--mono);
    text-decoration: none;
}

#contact p:last-child {
    margin-top: 3rem;
}


/* footer */

footer {
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

@media (max-width: 849px) {
    nav ul {
        justify-content: center;
    }
    nav li:first-child {
        flex-basis: 100%;
        margin: auto;
    }
    #portfolio article {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    #portfolio img,
    #portfolio .reverse img {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-bottom: 4rem;
        border-left: 1px solid var(--aqua);
        border-top: 1px solid var(--aqua);
        border-right: none;
    }
    .text {
        text-align: left;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #portfolio h4,
    #portfolio h3 {
        padding-left: 1rem;
    }
    .text ul,
    .reverse ul {
        justify-content: flex-start;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }
}